<h2><%= "#{@user.name}'s Profile:"%></h2>
<%= @user.experience %>
<br>
<%= @user.location %>
<br>
<% if @user.plants.count == 0 %>
  <%= "No plants in your collection yet. Add a plant below!" %>

  <% else %>
    <%= "Plants in your collection:" %>
    <% @user.plants.each do |p|%>
      <%= "#{p.name} (#{p.latin_name})" %>
      Type: <%= p.plant_type %>
      Needs: <%= p.difficulty %>
    <% end %>

<% end %>
<br>
<div>
<%= button_to "Add a plant to your collection", new_user_plant_path, method: :get %>
<div>